name: MTA Operator E2E Tests

on: [pull_request,push]

jobs:
   minikube:
    name: K8S
    runs-on: ubuntu-latest
    strategy:
      matrix:
        kubernetes_version: [v1.19.14, v1.20.10, v1.21.4, v1.22.1]
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4

      - name: Setup Minikube-Kubernetes
        uses: manusa/actions-setup-minikube@v2.4.2
        with:
          minikube version: v1.22.0
          kubernetes version: ${{ matrix.kubernetes_version }}
          github token: ${{ secrets.GITHUB_TOKEN }}
          start args: ' --force'

      - name: Setup Java 11
        uses: actions/setup-java@v2.4.0
        with:
          java-version: '11'
          distribution: 'adopt'
          java-package: jdk

      - name: Build operator image and push it to the minikube docker host
        run: |
          cd ${{github.workspace}} 
          mvn clean package -Pnative -DskipTests \
            -Dquarkus.native.container-build=true \
            -Dquarkus.native.container-runtime=docker \
            -Dquarkus.container-image.build=true  \
            -Dquarkus.container-image.tag=test \
            -Dquarkus.container-image.push=false 
          minikube cache add quay.io/windupeng/windup-operator-native:test

      - name: Deploy operator
        run: |
          cd ${{github.workspace}} 
          cd src/main/resources/k8s/def 
          kubectl apply -f windup.namespace.yaml 
          kubectl apply -f windup.serviceaccount.yaml 
          kubectl apply -f windup.role.yaml 
          kubectl apply -f windup.rolebinding.yaml 
          kubectl apply -f windup.crd.yaml 
          kubectl apply -f ../../../../test/resources/windup.deployment.yaml 
          kubectl apply -f ../../../../test/resources/windup-test.yaml

      - name: Sleep for 10 seconds to allow operator to start
        uses: jakejarvis/wait-action@master
        with:
          time: '10s'

      - name: Operator Logs
        run: kubectl logs --tail=-1 -l app=windup-operator -n mta

      - name: Sleep for 30 seconds to allow objects to be created
        uses: jakejarvis/wait-action@master
        with:
          time: '30s'

      - name: List k8s objects on mta namespace
        id: listobjects
        run: kubectl get all,ing,pvc -n mta -o name
        shell: bash

      - name: Get and store number of k8s objects on mta namespace
        id: getobjects
        run: echo "::set-output name=value::$(kubectl get all,ing,pvc -n mta -o name | wc -l)"
        shell: bash

      - name: Operator Test
        uses: therussiankid92/gat@v1.5
        with:
          assertion: should.equal
          expected: 19
          actual: ${{steps.getobjects.outputs.value}}

      - name: Scale up test
        run: |
          cd ${{github.workspace}}
          cd src/test/resources 
          (echo "  executor_desired_replicas: 3" | cat windup-test.yaml -) | kubectl apply -f -

      - name: Sleep for 5 seconds to allow objects to be created
        uses: jakejarvis/wait-action@master
        with:
          time: '5s'

      - name: List k8s pods for the executor
        id: executorpods
        run: echo "::set-output name=value::$(kubectl get pods -n mta -o name | grep executor | wc -l)"
        shell: bash

      - name: Check executor pods are the expected
        uses: therussiankid92/gat@v1.5
        with:
          assertion: should.equal
          expected: 3
          actual: ${{steps.executorpods.outputs.value}}

